*{
    padding: 0px;
    margin: 0px;
	box-sizing: border-box;
}
h1{
	color: rgb(75, 73, 73);
	position: relative;
	top: 50px;
	font-weight: lighter;
}
p{
	color: gray;
	position: relative;
	top: 60px;
	font-size: 18px;
}
#buton{
    display: none;
}
body{
    background-image: url(garden.jpg);
    background-size: cover;
}

form{
	display: grid;
	justify-content: center;
	text-align: center;
	justify-content: center;
}


.int{
	height: 50px;
	width: 450px;
	background: transparent;
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	font-size: 18px;
	position: relative;
	top: 80px;

}
.int:hover{
	background: rgb(235, 230, 230);
}
.int2{
	height: 50px;
	width: 450px;
	background: transparent;
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	font-size: 18px;
	position: relative;
	top: 100px;
}
.int2:hover{
	background: rgb(235, 230, 230);
}
#icon3{
	position: relative;
	left: 200px;
	top: 50px;
	font-size: 20px;
	font-weight: lighter;
}
#icon4{
	position: relative;
	left: 200px;
	top: 70px;
	font-size: 20px;
	font-weight: lighter;
}
.check{
	display: flex;
	position: relative;
	top: 100px;
	color: rgb(129, 127, 127);
	font-size: 16px;
}
#boxx{
	border: 2px solid gray;
	height: 40px;
	width: 25px;
	position: relative;
	bottom: 15px;
}
span{
	font-size: 20px;
	color: rgb(70, 68, 68);
}
#btn{
	height: 40px;
	width: 180px;
	border-radius: 18px;
	border: none;
	background: rgb(235, 230, 230);
	margin-top: 110px;
	margin-left: 150px;
	font-size: 15px;
	color: rgb(155, 151, 151);
	font-weight: bold;
	
}
#btn:hover{
	height: 40px;
	width: 180px;
	border-radius: 18px;
	border: none;
	background:red;  
	margin-left: 150px;
	font-size: 15px;
	color: black;
	
}
#smbox{
	height: 100px;
	width: 900px;
	background-color: rgb(235, 230, 230);
	position: relative;
	top: 50px;
	text-align: center;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
#reset{
	position: relative;
	top: 50px;
	color: black;
}
